In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
consumo_df = pd.read_csv('files/consumo_cerveja.csv', sep=';')

In [40]:
consumo_df

           data  temp_media  temp_min  temp_max  chuva  fds  consumo
0    01/01/2015       27.30      23.9      32.5    0.0    0    25461
1    02/01/2015       27.02      24.5      33.5    0.0    0    28972
2    03/01/2015       24.82      22.4      29.9    0.0    1    30814
3    04/01/2015       23.98      21.5      28.6    1.2    1    29799
4    05/01/2015       23.82      21.0      28.3    0.0    0    28900
..          ...         ...       ...       ...    ...  ...      ...
360  27/12/2015       24.00      21.1      28.2   13.6    1    32307
361  28/12/2015       22.64      21.1      26.7    0.0    0    26095
362  29/12/2015       21.68      20.3      24.1   10.3    0    22309
363  30/12/2015       21.38      19.3      22.4    6.3    0    20467
364  31/12/2015       24.76      20.2      29.0    0.0    0    22446

[365 rows x 7 columns]

Qual o tamanho?

In [10]:
consumo_df.shape

(365, 7)

Existem dados faltantes?

Existem outliers? Se sim, remova-os

Qual o consumo médio de cerveja?

In [16]:
consumo_df['consumo'].mean()

25401.36712328767

Qual o consumo médio em dias de chuva?

In [19]:
consumo_df.query('chuva > 0').consumo.mean()

24617.768707482992

Qual o consumo médio quando está frio?

In [41]:
consumo_df['temp_media'].unique()

array([27.3 , 27.02, 24.82, 23.98, 23.82, 23.78, 24.  , 24.9 , 28.2 ,
       26.76, 27.62, 25.96, 25.52, 25.86, 26.5 , 28.86, 28.26, 28.22,
       27.68, 25.32, 21.74, 21.04, 23.12, 24.4 , 22.4 , 23.6 , 25.68,
       25.  , 22.8 , 21.64, 24.16, 22.48, 23.16, 22.12, 20.28, 21.06,
       21.86, 22.76, 23.92, 25.38, 27.66, 25.54, 24.32, 22.9 , 21.6 ,
       22.22, 24.72, 25.2 , 24.44, 25.4 , 24.3 , 22.24, 24.1 , 24.64,
       21.26, 22.16, 23.68, 24.42, 22.6 , 21.92, 22.2 , 21.36, 22.88,
       22.26, 22.34, 22.08, 21.24, 21.78, 20.88, 19.7 , 19.88, 20.98,
       21.56, 22.98, 23.32, 23.28, 22.14, 22.5 , 23.14, 22.52, 20.92,
       21.02, 22.36, 22.82, 17.38, 18.68, 19.4 , 20.46, 19.92, 21.7 ,
       21.94, 21.42, 23.36, 20.06, 21.2 , 19.18, 19.04, 19.82, 20.26,
       18.66, 16.22, 17.34, 19.26, 19.96, 18.14, 17.76, 17.8 , 16.14,
       18.04, 16.94, 17.86, 17.12, 16.34, 16.72, 16.84, 17.18, 18.26,
       18.6 , 18.64, 18.74, 19.46, 19.94, 21.8 , 22.06, 21.28, 22.94,
       18.56, 17.68, 17.52, 16.28, 16.04, 17.94, 18.36, 18.32, 19.66,
       20.62, 20.86, 20.32, 20.54, 22.72, 18.8 , 21.1 , 16.02, 14.82,
       19.8 , 14.66, 15.82, 17.32, 18.54, 19.02, 14.54, 14.72, 15.26,
       15.34, 15.48, 17.2 , 19.36, 17.78, 14.94, 12.9 , 15.78, 16.8 ,
       17.02, 17.54, 19.24, 17.46, 23.3 , 20.18, 19.14, 20.2 , 19.98,
       20.56, 14.52, 18.46, 15.9 , 16.82, 16.6 , 16.46, 16.2 , 16.76,
       19.78, 20.1 , 21.16, 20.96, 19.62, 19.6 , 20.12, 20.42, 21.44,
       21.58, 21.3 , 20.74, 18.08, 20.22, 16.98, 18.92, 16.1 , 24.54,
       19.3 , 16.66, 16.12, 16.48, 18.72, 17.08, 18.82, 16.88, 14.  ,
       14.18, 21.18, 25.24, 27.26, 28.06, 28.  , 25.7 , 26.14, 28.3 ,
       23.24, 20.58, 22.3 , 21.22, 21.52, 24.74, 17.36, 24.5 , 26.56,
       24.52, 23.06, 21.4 , 23.62, 28.12, 26.24, 19.86, 26.3 , 24.62,
       19.9 , 20.5 , 17.64, 22.  , 23.86, 23.18, 21.82, 19.76, 18.3 ,
       20.24, 23.72, 26.2 , 22.78, 25.06, 21.76, 25.5 , 26.16, 19.44,
       20.8 , 22.28, 23.7 , 22.38, 19.1 , 22.1 , 22.44, 24.8 , 20.04,
       23.96, 24.04, 26.28, 25.66, 22.04, 26.42, 23.74, 22.84, 24.6 ,
       27.46, 23.58, 23.34, 22.64, 21.68, 21.38, 24.76])

Entre quais colunas existe correlação?

Quais colunas são fortes preditoras para o consumo de cerveja?