In [ ]:
Ler o aluguel.csv (sep=";")

Quantas linhas e colunas tem?

Quantos tipos de imóveis existem?

Quantos bairros existem?

Qual a média, mediana e desvio padrão da quantidade de quartos, vagas, suites, area, valor, condominio e iptu? 
Essas variáveis descrevem bem o comportamento dos dados?

Existe variável categórica no dataset?

Existem outliers no valor? Analise em boxplot.

Plote um histograma por bairro.

Quais bairros tem os imóveis mais caros?

Qual o valor do imóvel mais caro? E do mais barato?

Selecione apenas os imóveis do tipo "apartamento".

Selecione imóveis que são apartamento OU casa.

Selecione imóveis com área entre 60 e 100 m2.

Existe correlação entre condominio e aluguel? E entre aluguel e IPTU?

Existem dados faltantes?

Os dados que tem nessa base são suficientes para uma análise preditiva?

In [4]:
import pandas as pd
aluguel = pd.read_csv('aluguel.csv', sep=';')

In [8]:
aluguel.shape

(32960, 9)

In [19]:
aluguel.Tipo.value_counts()

Apartamento                    19532
Conjunto Comercial/Sala         6815
Loja/Salão                      1426
Casa de Condomínio               996
Casa                             967
Quitinete                        836
Galpão/Depósito/Armazém          623
Flat                             476
Prédio Inteiro                   301
Casa Comercial                   265
Casa de Vila                     249
Loja Shopping/ Ct Comercial      247
Box/Garagem                       82
Terreno Padrão                    70
Loft                              51
Sítio                             10
Loteamento/Condomínio              5
Studio                             4
Hotel                              2
Chácara                            1
Pousada/Chalé                      1
Indústria                          1
Name: Tipo, dtype: int64

In [46]:
len(aluguel.Bairro.unique())

162

In [63]:
print("media_quartos", aluguel.Quartos.mean(), "mediana_quartos", aluguel.Quartos.median(), "desvio_quartos", aluguel.Quartos.std())

media_quartos 1.7713895631067962 mediana_quartos 2.0 desvio_quartos 1.7178687849639511

In [60]:
s.to_frame()

AttributeError: 'list' object has no attribute 'to_frame'

In [50]:
print('media_quartos', aluguel.Quartos.mean(), 'mediana_quartos', aluguel.Quartos.median()).to_frame()


aluguel.framwe

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [72]:
aluguel.Bairro.plot.bar()

TypeError: no numeric data to plot

In [65]:
aluguel

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0