In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
aluguel = pd.read_csv('files/aluguel.csv', sep=';')

In [3]:
aluguel.Condominio.fillna(0)

0         500.0
1           0.0
2        4020.0
3         390.0
4         230.0
          ...
32955     350.0
32956     800.0
32957     509.0
32958     760.0
32959    4206.0
Name: Condominio, Length: 32960, dtype: float64

In [ ]:
aluguel.to_csv("aluguel_processado.csv")

In [4]:
valor = aluguel['Valor'] + aluguel['Condominio']
valor

0         2200.0
1            NaN
2         9220.0
3         1190.0
4         1030.0
          ...
32955     1150.0
32956     2600.0
32957     1909.0
32958     3760.0
32959    10706.0
Length: 32960, dtype: float64

In [7]:
valor_m2 = valor/ aluguel['Area']
valor_m2

0        55.000000
1              NaN
2        61.466667
3        79.333333
4        21.458333
           ...
32955    42.592593
32956    33.333333
32957    39.770833
32958    53.714286
32959    42.824000
Length: 32960, dtype: float64

In [ ]:
aluguel